@using FNet.Supply.Models
@model F0Model
<style type="text/css">
    #supply_views_f0_command table tr td {
        padding: 2px;
    }
    /* The Modal (background) */
    #supply_views_f0_command div.modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

        /* Modal Content/Box */
        #supply_views_f0_command div.modal div.content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 10px;
            border: 1px solid #888;
            width: 480px;
        }

            /* The Close Button */
            #supply_views_f0_command div.modal div.content div.header span {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

                #supply_views_f0_command div.modal div.content div.header span:hover,
                #supply_views_f0_command div.modal div.content div.header span:focus {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }

            /* Modal Header */
            #supply_views_f0_command div.modal div.content div.header h2 {
                font-weight: bold;
                text-align: center;
            }

            #supply_views_f0_command div.modal div.content table tr td {
                padding: 2px;
            }
</style>
<div id="supply_views_f0_command">
    <table>
        <tr><td style="text-align: center; font-weight: bold; font-size: 11pt;">Команды</td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><input type="button" value="Сохранить" style="font-size: 11pt;" onclick="SupplyViewsF0Index.save(this);" /></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><input type="button" value="Перенести в новый заказ" style="font-size: 11pt;" onclick="SupplyViewsF0Command.setSupplier(event, this);" /></td></tr>
        <tr><td><input type="button" value="Перенести в заказ" style="font-size: 11pt;" onclick="SupplyViewsF0Command.setOrder(event, this);" /></td></tr>
        <tr><td><input type="button" value="Перенести в свободные" style="font-size: 11pt;" onclick="SupplyViewsF0Command.setAsFree(event, this);" /></td></tr>
        <tr><td><input type="button" value="Разделить строку" style="font-size: 11pt;" onclick="SupplyViewsF0Command.splitRow(event, this)" /></td></tr>
        <tr><td><input type="button" value="Заменить товар" style="font-size: 11pt;" onclick="" disabled="disabled" /></td></tr>
    </table>
    <!-- Модальное окно -->
    <div class="modal">
        <div class="content">
            <div class="header">
                <span onclick="$(this).closest('div.modal').hide();">&times;</span>
                <h2>&nbsp;</h2>
            </div>
            <div class="body">
                <div class="v1" style="display: none;">
                    <table style="border: none;">
                        <tr style="border: none;">
                            <td>Поставщик:</td>
                            <td style="border: 2px solid black;">
                                <div>
                                    <input type="text" name="заказ_поставщик"
                                           data-id=""
                                           value=""
                                           style="border: none; background-color: transparent;"
                                           onkeyup="this.setAttribute('data-id', '')"
                                           onchange="this.setAttribute('data-id', '')" />
                                    <span onclick="SupplyViewsF0Command.selectButtonClick(this);">︙</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <div style="text-align: center">
                        <input type="button" value="Ok" onclick="SupplyViewsF0Command.setSupplier_();" />
                    </div>
                    @RenderPage("~/Views/F0/СписокПоставщиков.cshtml", Model)
                </div>
                <div class="v2" style="display: none;">
                    <div class="args" style="display: none"></div>
                    <span>Количество в строке (по требованию): </span><span class="old-qty"></span><br />
                    <span>Количество в новой строке: </span>
                    <input type="text" /><br />
                    <input type="button" value="Ok" onclick="SupplyViewsF0Command.splitRow_();" />
                </div>
                <div class="v3" style="display: none;">
                    <span>№ наш: </span>
                    <input type="text" /><br />
                    <input type="button" value="Ok" onclick="SupplyViewsF0Command.setOrder_();" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var SupplyViewsF0Command = (function () {
        let mainDiv = $('#supply_views_f0_command');
        let modalDiv = mainDiv.find('div.modal');
        let input = modalDiv.find('div.v1 input[type="text"]');
        let ddsp = modalDiv.find('div.v1 div.supply_views_f0_список_поставщиков');
        let orderNumInput = modalDiv.find('div.v3 input[type="text"]');
        let uids = null;
        let trs = ddsp.find('table:eq(1) tr');
        trs.each(function () { this.onclick = null; });
        trs.click(function () {
            let row = $(this);
            let id = row.attr('data-id');
            let name = row.find('td').text();
            input.attr('data-id', id);
            input.val(name);
        });
        return {
            selectButtonClick: function (e) {
                ddsp.css('left', $(e).position().left - 160);
                ddsp.css('top', $(e).position().top + 20);
                ddsp.mouseleave(function () { ddsp.off(); ddsp.hide(); });
                ddsp.show();
            },
            setAsFree: function (event, button) {
                event.stopPropagation ? event.stopPropagation() : (event.cancelBubble = true);
                let b = $(button);
                b.prop('disabled', true); setInterval(function () { b.prop('disabled', false); }, 3000);
                let uids = SupplyViewsF0Index.getSelectedRowUids();
                if (!uids) { alert('Нет выбранных строк.'); return; }
                if (confirm('Перенести выбранные строки в свободные?')) {
                    let rqp = {
                        SessionId: Nskd.Server.SessionId,
                        Command: 'Supply.F0.SetAsFree',
                        Parameters: SupplyViewsF0Index.getFilterPars()
                    };
                    rqp.Parameters.push({ Name: 'uids', Value: uids });
                    SupplyViewsF0Index.filteredDataSectionHtml('');
                    SupplyViewsF0Index.detailSectionHtml('');
                    Nskd.Http.post({
                        url: '/supply/f0',
                        rqp: rqp,
                        done: function (data) {
                            SupplyViewsF0Index.filteredDataSectionHtml(data);
                        }
                    });
                }
            },
            setSupplier: function (event, button) {
                event.stopPropagation ? event.stopPropagation() : (event.cancelBubble = true);
                let b = $(button);
                b.prop('disabled', true); setInterval(function () { b.prop('disabled', false); }, 3000);
                uids = SupplyViewsF0Index.getSelectedRowUids();
                if (!uids) { alert('Нет выбранных строк.'); return; }
                modalDiv.find('div.v1').show();
                modalDiv.find('div.v2').hide();
                modalDiv.find('div.v3').hide();
                modalDiv.show();
            },
            setSupplier_: function () {
                let supplier_uid = input.attr('data-id');
                let supplier_name = input.val();
                input.attr('data-id', '');
                input.val('');
                modalDiv.hide();
                if (supplier_uid && SupplyViewsF0Index) {
                    SupplyViewsF0Index.setSupplierFinish(uids, supplier_uid, supplier_name);
                }
            },
            setOrder: function (event, button) {
                event.stopPropagation ? event.stopPropagation() : (event.cancelBubble = true);
                let b = $(button);
                b.prop('disabled', true); setInterval(function () { b.prop('disabled', false); }, 3000);
                uids = SupplyViewsF0Index.getSelectedRowUids();
                if (!uids) { alert('Нет выбранных строк.'); return; }
                orderNumInput.on('change', function () {
                    Nskd.Validator.nNorm(this, 0);
                });
                modalDiv.find('div.v1').hide();
                modalDiv.find('div.v2').hide();
                modalDiv.find('div.v3').show();
                modalDiv.show();
            },
            setOrder_: function () {
                orderNumInput.off('change');
                modalDiv.hide();
                let orderNum = parseInt(orderNumInput.val());
                if (!isNaN(orderNum)) {
                    let rqp = {
                        SessionId: Nskd.Server.SessionId,
                        Command: 'Supply.F0.AddRowsToOrder',
                        Parameters: SupplyViewsF0Index.getFilterPars()
                    };
                    rqp.Parameters.push({ Name: 'id', Value: orderNum });
                    rqp.Parameters.push({ Name: 'uids', Value: uids });
                    SupplyViewsF0Index.filteredDataSectionHtml('');
                    SupplyViewsF0Index.detailSectionHtml('');
                    //console.log(rqp);
                    Nskd.Http.post({
                        url: '/supply/f0',
                        rqp: rqp,
                        done: function (data) {
                            SupplyViewsF0Index.filteredDataSectionHtml(data);
                        }
                    });
                }
            },
            splitRow: function (event, button) {
                event.stopPropagation ? event.stopPropagation() : (event.cancelBubble = true);
                let b = $(button);
                b.prop('disabled', true); setInterval(function () { b.prop('disabled', false); }, 3000);
                let v = SupplyViewsF0Index.getSelectedRowQty();
                if (v) {
                    modalDiv.find('div.v2 div.args').text(Nskd.Json.toString(v));
                    modalDiv.find('div.v2 span.old-qty').text(v.qty);
                    modalDiv.find('div.v2 input[type="text"]').on('change', function () {
                        Nskd.Validator.nNorm(this, 0);
                        this.value = Nskd.Validator.numberNorm(this.value, 0, parseFloat(Nskd.Validator.numberNorm(v.qty)));
                    });
                    modalDiv.find('div.v1').hide();
                    modalDiv.find('div.v2').show();
                    modalDiv.find('div.v3').hide();
                    modalDiv.show();
                }
            },
            splitRow_: function () {
                modalDiv.find('div.v2 input[type="text"]').off('change');
                modalDiv.hide();
                let iv = Nskd.Json.parse(modalDiv.find('div.v2 div.args').text());
                let rv = modalDiv.find('div.v2 input[type="text"]').val();
                if (rv) {
                    let rqp = {
                        SessionId: Nskd.Server.SessionId,
                        Command: 'Supply.F0.SplitRow',
                        Parameters: SupplyViewsF0Index.getFilterPars()
                    };
                    rqp.Parameters.push({ Name: 'uid', Value: iv.uid });
                    rqp.Parameters.push({ Name: 'qty', Value: rv });
                    SupplyViewsF0Index.filteredDataSectionHtml('');
                    SupplyViewsF0Index.detailSectionHtml('');
                    //console.log(rqp); return;
                    Nskd.Http.post({
                        url: '/supply/f0',
                        rqp: rqp,
                        done: function (data) {
                            SupplyViewsF0Index.filteredDataSectionHtml(data);
                        }
                    });
                }
            }
        };
    })();
</script>
