@using FNet.Supply.Models
@model F0Model
<style type="text/css">
    #supply_views_f0_command table tr td {
        padding: 2px;
    }
    /* The Modal (background) */
    #supply_views_f0_command div.modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

        /* Modal Content/Box */
        #supply_views_f0_command div.modal div.content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 10px;
            border: 1px solid #888;
            width: 480px;
        }

            /* The Close Button */
            #supply_views_f0_command div.modal div.content div.header span {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

                #supply_views_f0_command div.modal div.content div.header span:hover,
                #supply_views_f0_command div.modal div.content div.header span:focus {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }

            /* Modal Header */
            #supply_views_f0_command div.modal div.content div.header h2 {
                font-weight: bold;
                text-align: center;
            }

            #supply_views_f0_command div.modal div.content table tr td {
                padding: 2px;
            }
</style>
<div id="supply_views_f0_command">
    <table>
        <tr><td style="text-align: center; font-weight: bold; font-size: 11pt;">Команды</td></tr>
        <tr><td><input type="button" value="Сохранить" style="font-size: 11pt;" onclick="SupplyViewsF0Index.save(this);" /></td></tr>
        <tr><td><input type="button" value="Назначить поставщика" style="font-size: 11pt;" onclick="SupplyViewsF0Index.setSupplierStart();" /></td></tr>
    </table>
    <!-- Модальное окно -->
    <div class="modal">
        <div class="content">
            <div class="header">
                <span onclick="$(this).parent().parent().parent().hide();">&times;</span>
                <h2>&nbsp;</h2>
            </div>
            <table style="border: none;">
                <tr style="border: none;">
                    <td>Поставщик:</td>
                    <td style="border: 2px solid black;">
                        <div>
                            <input type="text" name="заказ_поставщик"
                                   data-id=""
                                   value=""
                                   style="border: none; background-color: transparent;"
                                   onkeyup="this.setAttribute('data-id', '')"
                                   onchange="this.setAttribute('data-id', '')" />
                            <span onclick="SupplyViewsF0Command.selectButtonClick(this);">︙</span>
                        </div>
                    </td>
                </tr>
            </table>
            <br />
            <div style="text-align: center">
                <input type="button" value="Ok" onclick="SupplyViewsF0Command.exit(this);" />
            </div>
            @RenderPage("~/Views/F0/СписокПоставщиков.cshtml", Model)
        </div>
    </div>
</div>
<script type="text/javascript">
    var SupplyViewsF0Command = (function () {
        let mainDiv = $('#supply_views_f0_command');
        let modalDiv = mainDiv.find('.modal');
        let input = modalDiv.find('input[type="text"]');
        let ddsp = modalDiv.find('.supply_views_f0_список_поставщиков');
        let trs = ddsp.find('table:eq(1) tr');
        trs.each(function () { this.onclick = null; });
        trs.click(function () {
            let row = $(this);
            let id = row.attr('data-id');
            let name = row.find('td').text();
            input.attr('data-id', id);
            input.val(name);
        });
        return {
            showModal: function () {
                modalDiv.show();
            },
            selectButtonClick: function (e) {
                ddsp.css('left', $(e).position().left - 160);
                ddsp.css('top', $(e).position().top + 20);
                ddsp.mouseleave(function () { ddsp.off(); ddsp.hide(); });
                ddsp.show();
            },
            exit: function () {
                let uid = input.attr('data-id');
                let name = input.val();
                input.attr('data-id', '');
                input.val('');
                modalDiv.hide();
                if (uid && SupplyViewsF0Index) {
                    SupplyViewsF0Index.setSupplierFinish(uid, name);
                }
            }
        };
    })();
</script>
