@using FNet.Supply.Models
@model F0Model
<style type="text/css">
    #supply_views_f0_filter table tr {
        height: 40px;
    }

    #supply_views_f0_filter table td {
        padding: 2px;
    }
</style>
<div id="supply_views_f0_filter" style="width: 100%; text-align: center;">
    <span style="font-size: 11pt; font-weight: bold;">Фильтр</span>
    <br /><br />
          <table style="text-align: left;">
              <tr>
                  <td>Все</td>
                  @if (Model.Filter.все == "" || Model.Filter.все == "False")
                  {
                      <td colspan="2"><input type="checkbox" name="все" /></td>
                  }
                  else
                  {
                      <td colspan="2"><input type="checkbox" name="все" checked="checked" /></td>
                  }
              </tr>
              <tr>
                  <td>Дата</td>
                  <td><input type="text" name="дата_min" class="datepicker" style="width: 60px;" value="@Model.Filter.дата_min" /></td>
                  <td><input type="text" name="дата_max" class="datepicker" style="width: 60px;" value="@Model.Filter.дата_max" /></td>
              </tr>
              <tr>
                  <td>Менеджер</td>
                  <td colspan="2"><input type="text" name="менеджер" style="width: 130px;" value="@Model.Filter.менеджер" /></td>
              </tr>
          </table>
    <br />
    <input type="button" value="Применить" onclick="SupplyF0Filter.applyFilter(this);" style="font-size: 11pt;" />
</div>
<script type="text/javascript">
    var SupplyF0Filter = (function () {
        let mainDiv = $('#supply_views_f0_filter');
        $.datepicker.setDefaults({ dateFormat: 'dd.mm.y' });
        $('input.datepicker').datepicker();
        return {
            applyFilter: function (element) {
                let e = $(element);
                e.prop('disabled', true); setTimeout(function () { e.prop('disabled', false); }, 1000);
                let pars = [];
                mainDiv.find('input[name]').each(function (index, element) {
                    if (element.type == 'checkbox') {
                        pars.push({ Name: element.name, Value: $(element).prop('checked') });
                    } else if (element.type == 'text' && element.value) {
                        let v = element.value;
                        if ($(element).hasClass('datepicker')) {
                            if (v.length == 8) {
                                let d = '20' + v.substr(6, 2) + '-' + v.substr(3, 2) + '-' + v.substr(0, 2);
                                pars.push({ Name: element.name, Value: d });
                            }
                        } else {
                            pars.push({ Name: element.name, Value: v });
                        }
                    }
                });
                //console.log(pars);
                if (SupplyF0Index) {
                    SupplyF0Index.applyFilter(pars);
                }
            }
        };
    })();
</script>
