@model FNet.Supply.Models.F0Model
<style type="text/css">
    #supply_views_f0_index {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

        #supply_views_f0_index div.section-header {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 20px;
            overflow: hidden;
            padding: 2px;
            text-align: center;
            font-weight: bold;
            font-size: 12pt;
            border-bottom: 2px solid green;
        }

        #supply_views_f0_index div.section-filter {
            position: absolute;
            left: 0;
            top: 26px;
            width: 240px;
            right: 0;
            bottom: 0;
            float: left;
            overflow: auto;
            padding: 2px;
        }

        #supply_views_f0_index div.section-filtered_data {
            border-left: 2px solid green;
            border-bottom: 2px solid green;
            position: absolute;
            left: 240px;
            top: 26px;
            right: 0;
            bottom: 320px;
            overflow: auto;
        }

        #supply_views_f0_index div.section-detail {
            border-left: 2px solid green;
            position: absolute;
            left: 240px;
            right: 0;
            bottom: 0;
            height: 320px;
            background-color: #aaffaa;
            overflow: hidden;
        }
</style>
<div id="supply_views_f0_index">
    <div class="section-header"><span>Снабжение (закупки товаров)</span></div>
    <div class="section-filter">
        @RenderPage("~/Views/F0/Filter.cshtml", Model)
        <br /><br />
        <div style="width: 100%; text-align: center; border-top: 2px solid green">
            <br /><br />
            <input type="button" value="Сохранить" style="font-size: 11pt;" onclick="SupplyViewsF0Index.save();" />
            <br /><br />
            <input type="button" value="Назначить поставщика" style="font-size: 11pt;" onclick="SupplyViewsF0Index.setSupplier();" />
        </div>
    </div>
    <div class="section-filtered_data">
        @RenderPage("~/Views/F0/Table.cshtml", Model)
    </div>
    <div class="section-detail">
        <div class="order" style="display: none;">
            qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
        </div>
    </div>
    @RenderPage("~/Views/F0/СписокПоставщиков.cshtml", Model)
    @RenderPage("~/Views/F0/СписокСостоянийЗаказа.cshtml", Model)
</div>
<script type="text/javascript">
    var SupplyViewsF0Index = (function () {
        let mainDiv = $('#supply_views_f0_index');
        let sp = $('#supply_views_f0_список_поставщиков');
        let ss = $('#supply_views_f0_список_состояний_заказа');
        let filteredData = mainDiv.find('div.section-filtered_data');
        let detail = mainDiv.find('div.section-detail');
        let order = detail.find('div.order');
        let selectedInput = null;
        return {
            selectButtonClick: function (td, f) { // в файле TableFieldSelect.cshtml
                let e = $(td);
                let table = e.closest('table');
                selectedInput = table.find('input');
                if (f == 'заказ_поставщик') {
                    sp.css('left', e.position().left);
                    sp.css('top', e.position().top + 48);
                    sp.mouseleave(function () { sp.off(); sp.hide(); });
                    sp.show();
                }
                if (f == 'заказ_состояние') {
                    ss.css('left', e.position().left);
                    ss.css('top', e.position().top + 48);
                    ss.mouseleave(function () { ss.off(); ss.hide(); });
                    ss.show();
                }
            },
            ddSelect: function (tr) {
                let row = $(tr);
                if (selectedInput) {
                    let id = row.attr('data-id');
                    let name = row.find('td').text();
                    selectedInput.attr('data-modified', '1');
                    selectedInput.attr('data-id', id);
                    selectedInput.val(name);
                    selectedInput = null;
                }
                sp.off().hide();
                ss.off().hide();
            },
            save: function () {
                let rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Supply.F0.Save',
                    Parameters: []
                };
                console.log(rqp);
                alert('SupplyViewsF0Index.save()');
            },
            setSupplier: function () {
                let rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Supply.F0.SetSupplier',
                    Parameters: []
                };
                let selectedRows = filteredData.find('input[type="checkbox"][name="выбрано"]:checked').closest('tr');
                if (!selectedRows.length) {
                    alert('Нет выбранных строк.');
                    return;
                }
                selectedRows.each(function () {
                    rqp.Parameters.push($(this).attr('data-goods_uid'));
                });
                console.log(rqp);
                //alert('SupplyViewsF0Index.setSupplier()');
            },
            // applyFilter is call from Filter.cshtml
            applyFilter: function (pars) {
                //console.log(pars);
                let rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Supply.F0.ApplyFilter',
                    Parameters: pars
                };
                filteredData.html('');
                Nskd.Http.post({
                    url: '/supply/f0/applyfilter',
                    rqp: rqp,
                    done: function (data) {
                        filteredData.html(data);
                    }
                });
            },
            // showOrderDetail is call from Table.cshtml
            showOrderDetail: function (td) {
                let tr = $(td).parent();
                order.text(tr.attr('data-goods_uid'));
                order.show();
                //alert('q');
                //order.html('').hide();
            }
        };
    })();
</script>