@model FNet.Supply.Models.F0Model
<style type="text/css">
    #supply_views_f0_index {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

        #supply_views_f0_index div.section-header {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 20px;
            overflow: hidden;
            padding: 2px;
            text-align: center;
            font-weight: bold;
            font-size: 12pt;
            border-bottom: 2px solid green;
        }

        #supply_views_f0_index div.section-filter {
            position: absolute;
            left: 0;
            top: 26px;
            width: 240px;
            right: 0;
            bottom: 0;
            float: left;
            overflow: auto;
            padding: 2px;
        }
            /* перенести в Filter.cshtml */
            /*
            #supply_views_f0_index div.section-filter table tr {
                height: 40px;
            }

            #supply_views_f0_index div.section-filter table td {
                padding: 2px;
            }
            */
        #supply_views_f0_index div.section-filtered_data {
            border-left: 2px solid green;
            position: absolute;
            left: 240px;
            top: 26px;
            right: 0;
            bottom: 0;
            overflow: auto;
        }
</style>
<div id="supply_views_f0_index">
    <div class="section-header"><span>Снабжение (закупки)</span></div>
    <div class="section-filter">
        RenderPage("~/Views/F0/Filter.cshtml", Model)
        <br /><br />
        <div style="width: 100%; text-align: center; border-top: 2px solid green">
            <br /><br />
            <input type="button" value="Сохранить" onclick="SupplyF0Index.save();" style="font-size: 11pt;" />
        </div>
    </div>
    <div class="section-filtered_data">
        RenderPage("~/Views/F0/Table.cshtml", Model)
    </div>
</div>
<script type="text/javascript">
    var SupplyF0Index = (function () {
        return {
            save: function() {
                alert('save');
            }
        };
    })();
</script>