<div style="white-space: nowrap;">
    <input type="text" name="@PageData["IdFieldName"]"
           data-modified="0"
           data-id="@PageData["IdFieldValue"]"
           value="@PageData["Value"]"
           style="border: none; background-color: transparent;"
           onkeyup="this.setAttribute('data-modified', '1'); this.setAttribute('data-id', '')"
           onchange="this.setAttribute('data-modified', '1'); this.setAttribute('data-id', '')" />
    <span onclick="SupplyViewsF0Index.selectButtonClick(this);">︙</span>
</div>
