@if (HttpContext.Current.IsDebuggingEnabled)
{
    <div>Configuration: Debug.</div>
}
else
{
    <div>Configuration: Release.</div>
}
<script type="text/javascript">
    $(document).ready(
        setTimeout(function () {
            let xhr = $.post('/supply/f0/', 'sessionId=00000000-0000-0000-0000-000000000000');
            xhr.done(function (data) { $('#_layout_content').html(data); });
            xhr.fail(function () { $('#_layout_content').html(xhr.responseText); });
        }, 1000)
    );
</script>
