@if (HttpContext.Current.IsDebuggingEnabled)
{
    <div>Debugging is enabled.</div>
}
<script type="text/javascript">
    Nskd.Server.SessionId = '00000000-0000-0000-0000-000000000000';
    Nskd.Client.EnvVars.selectedMenuNodeUrl = '/orders/f0/';
    Nskd.Server.gotoTheNewPage(null, '#_layout_content');
</script>